/* .nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
} */

/* .nav-logo-text{
   display: flex;
   width: 130px;
   flex-wrap: wrap;
}

.nav-logo-text-1{
    color: #171717;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    gap: 0;
}

.nav-logo-text-2{
    color: #171717;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
} */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}

.nav-logo{
    width: 200p;
}

.nav-profile{
    width: 75px;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }

    .nav-logo{
        width: 150px;
    }

    .nav-profile{
        width: 60px;
    }
}